@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
}

body {
    font-family: Arial;
    width: 90vw;
    margin: 0px auto;
    text-align: center;
}

h1 {
    font-variant: small-caps;
    font-size: 5vh;
    padding: 2vh;
}

p, label {
    font-size: 2.5vh;
    padding: 3px;
}

input {
    padding: 0 10px;
    font-size: 2vh;
}

button {
    padding: 5px 20px;
    font-size: 2.5vh;
    margin: 10px 10px 0px 10px;
    background: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

button.clear {
    margin: 10px 0px 10px 0px;
}

div.tabuada {
    width: 75vw;
    margin: 2vh auto;
    padding: 5vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

h2 {
    font-variant: small-caps;
    font-size: 3.5vh;
    padding-bottom: 2vh;
}

span {
    font-variant: normal;
    font-size: 3vh;
}

@media screen and (min-width: 768px) {
    body {
        width: 748px;
    }

    div.tabuada {
        width: 673px;
    }
}